sky-connect/src/main/app/csv2sfdc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd">
    <data-mapper:config name="CSV_To_List_Account_" transformationGraphPath="csv_to_list_account_.grf" doc:name="CSV_To_List_Account_"/>
    <flow name="csv2sfdcFlow1" doc:name="csv2sfdcFlow1">
        <file:inbound-endpoint path="/Users/sameerpattni/AnypointStudio/workspace/sky-connect/src/main/resources/batchinput" moveToDirectory="/Users/sameerpattni/AnypointStudio/workspace/sky-connect/src/main/resources/batchoutput" responseTimeout="10000" doc:name="File"/>
        <data-mapper:transform config-ref="CSV_To_List_Account_" doc:name="CSV To List&lt;Account&gt;"/>
        <sfdc:create config-ref="Salesforce" type="Account" doc:name="Salesforce">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:create>
    </flow>
</mule>
